:root {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cl-background: #fff;
  --cl-text: #000;
  --cl-negative: #f44336;
  --cl-positive: #4caf50;

  background-color: var(--cl-background);
  color: var(--cl-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cl-background: #111;
    --cl-text: #fff;
  }
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
