.svg {
  width: 800px;
  height: 800px;
  border: 1px solid var(--cl-text);
  display: block;

  --cl-omni: #fdd835;
  --cl-atmosphere: #8e9da9;

  @media (prefers-color-scheme: dark) {
    --cl-omni: #fff59d;
    --cl-atmosphere: #01579b;
  }
}

.body,
.satellite {
  fill: var(--cl-text);
}

.omniRange {
  fill: var(--cl-omni);
  opacity: 0.15;
}

.orbit {
  fill: none;
  stroke: var(--cl-text);
}

.shadow {
  fill: var(--cl-text);
  opacity: 0.1;
}
